openapi: 3.0.0
info:
  title: Nobitex API
  description: >-
    برای آشنایی با چگونگی استفاده از ای‌پی‌آی نوبیتکس در زبان‌های برنامه‌نویسی
    مختلف، این مجموعه حاوی چند نمونه از اندپوینت‌های نوبیتکس فراهم شده است. برای
    اطلاع از همه اندپوینت‌های منتشر شده نوبیتکس از [مرجع رسمی مستندات
    نوبیتکس](https://apidocs.nobitex.ir) استفاده نمایید.
  version: 1.0.0
servers:
  - url: https://api.nobitex.ir/
components:
  securitySchemes:
    noauthAuth:
      type: http
      scheme: noauth
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Public Market Data
    description: |-
      # اطلاعات عمومی بازار

      درخواست‌های این مجموعه به احراز هویت از طریق توکن نیاز ندارند.
  - name: Authentication
    description: >-
      # احراز هویت


      روش پیشنهادی نوبیتکس برای دریافت توکن هویتی، دریافت آن از پنل کاربری است.
      برای دریافت توکن می‌توانید با مراجعه به پنل کاربری خود در نوبیتکس، از بخش
      پروفایل وارد صفحه تنظیمات شده و توکن خود را دریافت نمایید. این توکن تا
      زمان خروج شما از حساب کاربری در نوبیتکس معتبر خواهد ماند.


      روش دیگر دریافت خودکار توکن با استفاده از ای‌پی‌آی است. در صورتی که با
      مخاطرات ذخیره گذرواژه خود در کد و روش‌های امن این کار آشنا هستید و از طرفی
      نیاز به دریافت کاملاً خودکار توکن دارید، از ای‌پی‌آی دریافت توکن استفاده
      نمایید. به دلیل مسائل امنیتی مانند شناسایی دوعاملی و ... برای دریافت
      خودکار توکن باید از کتابخانه‌های تولید رمزیکبارمصرف نیز کمک بگیرید.
  - name: User Info
    description: >-
      # اطلاعات کاربر


      در این بخش می‌توان اطلاعات مرتبط با پروفایل کاربر را تکمیل کرد. مثلا برای
      حساب کاربری کارت و حساب بانکی تعریف کرد. به کمک این اطلاعات می‌توان واریز
      و برداشت ریالی به/از نوبیتکس انجام داد.
  - name: Wallet Operations
    description: '# اطلاعات مالی کاربر'
  - name: Trade in Market
    description: '# معامله در بازار'
  - name: Withdraw
    description: '# برداشت'
  - name: Referral Join
    description: >-
      # طرح معرفی دوستان


      با طرح معرفی دوستان می‌توانید دوستان خود را با لینک اختصاصی خود به نوبیتکس
      دعوت کنید و درصدی از کارمزد معاملات آن‌ها را به عنوان پاداش دریافت نمایید.
      برای اطلاعات بیشتر به [صفحه قوانین طرح معرفی
      دوستان](https://nobitex.ir/policies/referral/) مراجعه کنید.
paths:
  /v2/orderbook/{symbol}:
    get:
      tags:
        - Public Market Data
      summary: Orderbook
      description: >-
        ## لیست سفارشات


        برای دریافت لیست سفارشات موجود در بازار از این نوع درخواست استفاده
        نمایید:


        لیست نمادهای بازارها عبارتند از :  

        {{symbols}}


        برای دریافت همه بازارها از `all` استفاده کنید.


        محدودیت فراخوانی: ۶۰ درخواست در دقیقه
      parameters:
        - name: symbol
          in: path
          schema:
            type: string
          required: true
          description: |-
            نماد بازار

            الزامی
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: سفارشات یک بازار
                  value:
                    status: ok
                    lastUpdate: 1651038779381
                    lastTradePrice: '10909991000'
                    bids:
                      - - '10929996890'
                        - '0.049713'
                      - - '10929999890'
                        - '0.105792'
                      - - '10930000000'
                        - '0.365328'
                      - - '10935000010'
                        - '0.000962'
                      - - '10949999990'
                        - '0.0998'
                      - - '10950000000'
                        - '0.00288'
                      - - '10959999990'
                        - '0.001442'
                      - - '10963425000'
                        - '0.000409'
                      - - '10967000000'
                        - '0.0035'
                      - - '10969920000'
                        - '0.00195'
                      - - '10979990000'
                        - '0.001'
                      - - '10982121360'
                        - '0.001579'
                      - - '10987654300'
                        - '0.002'
                      - - '10988020890'
                        - '0.009103'
                      - - '10990000000'
                        - '0.002284'
                      - - '10990230900'
                        - '0.004504'
                      - - '10994000000'
                        - '0.00045'
                      - - '10996500000'
                        - '0.00137'
                      - - '10999899990'
                        - '0.003942'
                      - - '10999900000'
                        - '0.025'
                      - - '10999988880'
                        - '0.0005'
                      - - '10999999990'
                        - '0.036533'
                      - - '11000000000'
                        - '0.147133'
                      - - '11000007000'
                        - '0.001994'
                    asks:
                      - - '10909991000'
                        - '0.014556'
                      - - '10909990000'
                        - '0.001054'
                      - - '10901760020'
                        - '0.050832'
                      - - '10881186680'
                        - '0.000582'
                      - - '10880580830'
                        - '0.000587'
                      - - '10880000000'
                        - '0.09291'
                      - - '10871999990'
                        - '0.001855'
                      - - '10871990020'
                        - '0.005923'
                      - - '10865505000'
                        - '0.013064'
                      - - '10865500000'
                        - '0.013791'
                      - - '10865429500'
                        - '0.005554'
                      - - '10862996000'
                        - '0.023032'
                      - - '10862000000'
                        - '0.072506'
                      - - '10860000000'
                        - '0.020129'
                      - - '10859996000'
                        - '0.004604'
                      - - '10855405870'
                        - '0.007338'
                      - - '10840001000'
                        - '0.000389'
                      - - '10832649000'
                        - '0.00041'
                      - - '10818000000'
                        - '0.03'
                      - - '10810000030'
                        - '0.005069'
                      - - '10805926000'
                        - '0.004419'
                      - - '10803130000'
                        - '0.160923'
                      - - '10800002000'
                        - '0.009383'
                      - - '10800001000'
                        - '0.002799'
                example-1:
                  summary: سفارشات همه بازارها
                  value:
                    status: ok
                    BTCIRT:
                      lastUpdate: 1651039174008
                      lastTradePrice: '10900000000'
                      bids:
                        - - '10909990000'
                          - '0.001339'
                        - - '10909992000'
                          - '0.000651'
                        - - '10917549550'
                          - '0.016218'
                        - - '10920000000'
                          - '0.00329'
                        - - '10929999890'
                          - '0.105792'
                        - - '10930000000'
                          - '0.408017'
                        - - '10935000010'
                          - '0.000962'
                        - - '10949999990'
                          - '0.0998'
                      asks:
                        - - '10900000000'
                          - '0.000688'
                        - - '10880580830'
                          - '0.000587'
                        - - '10880000000'
                          - '0.001'
                        - - '10871999990'
                          - '0.001855'
                        - - '10871990020'
                          - '0.005923'
                        - - '10865500000'
                          - '0.013791'
                        - - '10865429500'
                          - '0.005554'
                        - - '10862000000'
                          - '0.072506'
                    ETHIRT:
                      lastUpdate: 1651039173994
                      lastTradePrice: '810168700'
                      bids:
                        - - '810168700'
                          - '0.0253'
                        - - '810847520'
                          - '0.00421'
                        - - '812934960'
                          - '0.33145'
                        - - '813123700'
                          - '0.8301'
                        - - '813900000'
                          - '0.22496'
                        - - '814000000'
                          - '0.20259'
                        - - '814600000'
                          - '0.37996'
                        - - '814989990'
                          - '0.04'
                      asks:
                        - - '810000000'
                          - '0.65'
                        - - '808830000'
                          - '0.01923'
                        - - '808820000'
                          - '0.25376'
                        - - '808775000'
                          - '0.09816'
                        - - '808601000'
                          - '0.39782'
                        - - '808600000'
                          - '0.01703'
                        - - '808153000'
                          - '0.18561'
                        - - '807143380'
                          - '0.01044'
                    LTCIRT:
                      lastUpdate: 1651039173969
                      lastTradePrice: '28286600'
                      bids:
                        - - '28309990'
                          - '0.15813'
                        - - '28330000'
                          - '0.83938'
                        - - '28398000'
                          - '0.5'
                        - - '28399560'
                          - '0.55534'
                        - - '28400000'
                          - '4.14951'
                        - - '28442700'
                          - '15.3'
                        - - '28499000'
                          - '2'
                        - - '28500000'
                          - '81.66115'
                      asks:
                        - - '28287000'
                          - '13.44457'
                        - - '28286600'
                          - '2.35935'
                        - - '28280000'
                          - '17.93031'
                        - - '28189000'
                          - '0.3'
                        - - '28170000'
                          - '1'
                        - - '28160100'
                          - '1.55617'
                        - - '28159650'
                          - '3.89396'
                        - - '28100000'
                          - '0.71791'
                    USDTIRT:
                      lastUpdate: 1651039174024
                      lastTradePrice: '284000'
                      bids:
                        - - '284200'
                          - '54.15'
                        - - '284440'
                          - '25796.63'
                        - - '284500'
                          - '4785.1'
                        - - '284510'
                          - '238.2'
                        - - '284520'
                          - '3560.72'
                        - - '284550'
                          - '167.87'
                        - - '284560'
                          - '5014.57'
                        - - '284790'
                          - '1125.31'
                      asks:
                        - - '284000'
                          - '125.73'
                        - - '283980'
                          - '663.78'
                        - - '283890'
                          - '288.25'
                        - - '283830'
                          - '32.9'
                        - - '283660'
                          - '87.25'
                        - - '283620'
                          - '70.51'
                        - - '283500'
                          - '150.67'
                        - - '283260'
                          - '500'
                    XRPIRT:
                      lastUpdate: 1651039174077
                      lastTradePrice: '186010'
                      bids:
                        - - '186010'
                          - '43.4'
                        - - '186180'
                          - '606.1'
                        - - '186600'
                          - '5893.4'
                        - - '186800'
                          - '500'
                        - - '187110'
                          - '16'
                        - - '187380'
                          - '84'
                        - - '187400'
                          - '1641.6'
                        - - '187420'
                          - '200'
                      asks:
                        - - '186000'
                          - '2657.2'
                        - - '185700'
                          - '119.5'
                        - - '185600'
                          - '4816.1'
                        - - '185570'
                          - '2106.2'
                        - - '185560'
                          - '917'
                        - - '185550'
                          - '159.5'
                        - - '185500'
                          - '4095.5'
                        - - '185390'
                          - '2908.1'
                    BCHIRT:
                      lastUpdate: 1651039174041
                      lastTradePrice: '86020100'
                      bids:
                        - - '86200000'
                          - '0.0337'
                        - - '86300000'
                          - '0.0749'
                        - - '86700000'
                          - '0.29816'
                        - - '86886000'
                          - '0.28939'
                        - - '86888000'
                          - '0.00317'
                        - - '86888880'
                          - '0.25421'
                        - - '86969000'
                          - '0.62537'
                        - - '86980000'
                          - '0.15192'
                      asks:
                        - - '86020090'
                          - '1'
                        - - '86010000'
                          - '2.93919'
                        - - '86000000'
                          - '0.1'
                        - - '85900000'
                          - '0.1'
                        - - '85701000'
                          - '0.52773'
                        - - '85649800'
                          - '1.212'
                        - - '85600120'
                          - '0.064'
                        - - '85600000'
                          - '1.23364'
                    BNBIRT:
                      lastUpdate: 1651039174073
                      lastTradePrice: '110725240'
                      bids:
                        - - '111290000'
                          - '0.09'
                        - - '111300000'
                          - '0.09'
                        - - '111400000'
                          - '0.64'
                        - - '111500000'
                          - '2.79'
                        - - '111672000'
                          - '0.72'
                        - - '111680000'
                          - '3.04'
                        - - '111720000'
                          - '0.08'
                        - - '111742100'
                          - '0.08'
                      asks:
                        - - '110734000'
                          - '1.23'
                        - - '110730000'
                          - '1.13'
                        - - '110540000'
                          - '0.75'
                        - - '110532640'
                          - '1'
                        - - '110454000'
                          - '1.06'
                        - - '110425500'
                          - '0.2'
                        - - '110425220'
                          - '0.06'
                        - - '110349990'
                          - '0.41'
                    EOSIRT:
                      lastUpdate: 1651039174105
                      lastTradePrice: '639200'
                      bids:
                        - - '639500'
                          - '184.28'
                        - - '640000'
                          - '1052.2'
                        - - '640990'
                          - '533.66'
                        - - '641000'
                          - '5'
                        - - '641210'
                          - '412.98'
                        - - '641400'
                          - '5.3'
                        - - '643400'
                          - '8.06'
                        - - '645000'
                          - '1294.61'
                      asks:
                        - - '639200'
                          - '246.82'
                        - - '637600'
                          - '100'
                        - - '637500'
                          - '29.53'
                        - - '637000'
                          - '1957.01'
                        - - '635000'
                          - '27.53'
                        - - '632000'
                          - '40.52'
                        - - '631900'
                          - '10.03'
                        - - '630250'
                          - '9'
                    XLMIRT:
                      lastUpdate: 1651039174133
                      lastTradePrice: '52140'
                      bids:
                        - - '52180'
                          - '1680.4'
                        - - '52200'
                          - '95'
                        - - '52280'
                          - '113'
                        - - '52290'
                          - '1000'
                        - - '52300'
                          - '261.9'
                        - - '52380'
                          - '1000'
                        - - '52470'
                          - '87.2'
                        - - '52500'
                          - '168.7'
                      asks:
                        - - '52140'
                          - '575.3'
                        - - '52020'
                          - '2520.7'
                        - - '51600'
                          - '397.9'
                        - - '51550'
                          - '5345.4'
                        - - '51540'
                          - '168.5'
                        - - '51530'
                          - '8559.3'
                        - - '51520'
                          - '788.4'
                        - - '51040'
                          - '363.4'
                    ETCIRT:
                      lastUpdate: 1651039174144
                      lastTradePrice: '8785500'
                      bids:
                        - - '8820000'
                          - '11.62'
                        - - '8845940'
                          - '0.45'
                        - - '8845990'
                          - '2.05'
                        - - '8846990'
                          - '2.05'
                        - - '8849000'
                          - '2.05'
                        - - '8850940'
                          - '2.56'
                        - - '8851950'
                          - '4.26'
                        - - '8853960'
                          - '4.26'
                      asks:
                        - - '8787000'
                          - '5.44'
                        - - '8786510'
                          - '5.02'
                        - - '8785500'
                          - '2.68'
                        - - '8785100'
                          - '31.11'
                        - - '8785000'
                          - '231.61'
                        - - '8782170'
                          - '1.13'
                        - - '8782150'
                          - '1.26'
                        - - '8771060'
                          - '2.01'
                    TRXIRT:
                      lastUpdate: 1651039174607
                      lastTradePrice: '17810'
                      bids:
                        - - '17860'
                          - '9163.4'
                        - - '17870'
                          - '2500'
                        - - '17890'
                          - '1035.8'
                        - - '17900'
                          - '10177.7'
                        - - '17910'
                          - '5946.6'
                        - - '17920'
                          - '66213'
                        - - '17940'
                          - '4074'
                        - - '17950'
                          - '49667.3'
                      asks:
                        - - '17810'
                          - '14998.7'
                        - - '17800'
                          - '27407.2'
                        - - '17780'
                          - '2000'
                        - - '17770'
                          - '6622.9'
                        - - '17750'
                          - '54647.6'
                        - - '17730'
                          - '4512.1'
                        - - '17720'
                          - '189.9'
                        - - '17700'
                          - '1601.5'
                    DOGEIRT:
                      lastUpdate: 1651039175142
                      lastTradePrice: '40170'
                      bids:
                        - - '40170'
                          - '2273'
                        - - '40189'
                          - '866'
                        - - '40190'
                          - '5806'
                        - - '40210'
                          - '1430'
                        - - '40230'
                          - '265'
                        - - '40240'
                          - '3591'
                        - - '40250'
                          - '100'
                        - - '40290'
                          - '500'
                      asks:
                        - - '40155'
                          - '2039'
                        - - '40150'
                          - '15440'
                        - - '40140'
                          - '19382'
                        - - '40130'
                          - '6299'
                        - - '40124'
                          - '2000'
                        - - '40122'
                          - '11411'
                        - - '40120'
                          - '1692'
                        - - '40113'
                          - '14973'
                    UNIIRT:
                      lastUpdate: 1651039174194
                      lastTradePrice: '2342000'
                      bids:
                        - - '2346010'
                          - '2.629'
                        - - '2348900'
                          - '9.918'
                        - - '2349000'
                          - '99.561'
                        - - '2350000'
                          - '3.341'
                        - - '2352000'
                          - '5'
                        - - '2353900'
                          - '2'
                        - - '2355000'
                          - '14.301'
                        - - '2355100'
                          - '1.28'
                      asks:
                        - - '2342000'
                          - '8.895'
                        - - '2340000'
                          - '8.607'
                        - - '2332810'
                          - '7.61'
                        - - '2330810'
                          - '1.578'
                        - - '2328810'
                          - '209.124'
                        - - '2328780'
                          - '21.47'
                        - - '2328700'
                          - '0.064'
                        - - '2325000'
                          - '3.015'
                    DAIIRT:
                      lastUpdate: 1651039174210
                      lastTradePrice: '283500'
                      bids:
                        - - '283500'
                          - '53.1'
                        - - '284140'
                          - '51.95'
                        - - '284150'
                          - '388.54'
                        - - '284200'
                          - '2340.4'
                        - - '284500'
                          - '324.45'
                        - - '284610'
                          - '15'
                        - - '284900'
                          - '16.36'
                        - - '284940'
                          - '25'
                      asks:
                        - - '282360'
                          - '52'
                        - - '282150'
                          - '366'
                        - - '282090'
                          - '355'
                        - - '282050'
                          - '448.64'
                        - - '282020'
                          - '631.59'
                        - - '281650'
                          - '71.16'
                        - - '281600'
                          - '210.62'
                        - - '281570'
                          - '422'
                    LINKIRT:
                      lastUpdate: 1651039174255
                      lastTradePrice: '3580060'
                      bids:
                        - - '3580060'
                          - '5.269'
                        - - '3689990'
                          - '4'
                        - - '3691980'
                          - '6.938'
                        - - '3691990'
                          - '6.798'
                        - - '3696990'
                          - '27.448'
                        - - '3698000'
                          - '27.139'
                        - - '3700000'
                          - '1'
                        - - '3710110'
                          - '4.85'
                      asks:
                        - - '3580000'
                          - '0.5'
                        - - '3571000'
                          - '92.256'
                        - - '3570000'
                          - '5.316'
                        - - '3565000'
                          - '48.185'
                        - - '3562030'
                          - '5.638'
                        - - '3560020'
                          - '26.806'
                        - - '3554050'
                          - '71.43'
                        - - '3552530'
                          - '2.746'
                    DOTIRT:
                      lastUpdate: 1651039174308
                      lastTradePrice: '4805220'
                      bids:
                        - - '4819990'
                          - '4.9'
                        - - '4828980'
                          - '2'
                        - - '4829990'
                          - '9.7'
                        - - '4839800'
                          - '1.6'
                        - - '4840000'
                          - '115.4'
                        - - '4847950'
                          - '25.1'
                        - - '4850000'
                          - '129.5'
                        - - '4854700'
                          - '11.7'
                      asks:
                        - - '4800300'
                          - '17'
                        - - '4800200'
                          - '11.8'
                        - - '4800000'
                          - '1'
                        - - '4783300'
                          - '27.9'
                        - - '4781150'
                          - '22'
                        - - '4781110'
                          - '31.9'
                        - - '4780000'
                          - '0.9'
                        - - '4770080'
                          - '8.2'
                    AAVEIRT:
                      lastUpdate: 1651039174360
                      lastTradePrice: '47041500'
                      bids:
                        - - '47050000'
                          - '1'
                        - - '47051030'
                          - '1.9865'
                        - - '47074560'
                          - '0.0311'
                        - - '47100000'
                          - '2.2253'
                        - - '47200000'
                          - '2.4087'
                        - - '47477000'
                          - '0.9916'
                        - - '47480000'
                          - '2.4331'
                        - - '47498000'
                          - '3.6236'
                      asks:
                        - - '47041500'
                          - '0.0724'
                        - - '47007000'
                          - '3'
                        - - '47001500'
                          - '4.1719'
                        - - '47000050'
                          - '7.2236'
                        - - '47000000'
                          - '23.2781'
                        - - '46990900'
                          - '3.19'
                        - - '46960020'
                          - '0.5365'
                        - - '46940000'
                          - '5.1747'
                    ADAIRT:
                      lastUpdate: 1651039174471
                      lastTradePrice: '238300'
                      bids:
                        - - '238940'
                          - '800'
                        - - '238950'
                          - '294.6'
                        - - '239000'
                          - '95.4'
                        - - '239500'
                          - '237.8'
                        - - '239930'
                          - '345.9'
                        - - '239950'
                          - '523'
                        - - '240000'
                          - '7925.3'
                        - - '240300'
                          - '17'
                      asks:
                        - - '238300'
                          - '29.1'
                        - - '238290'
                          - '32.3'
                        - - '238250'
                          - '20.6'
                        - - '238240'
                          - '45'
                        - - '238230'
                          - '54.8'
                        - - '238200'
                          - '138.8'
                        - - '238180'
                          - '32'
                        - - '238170'
                          - '50'
                    SHIBIRT:
                      lastUpdate: 1651039174650
                      lastTradePrice: '6650'
                      bids:
                        - - '6650'
                          - '140050'
                        - - '6660'
                          - '963571'
                        - - '6670'
                          - '548758'
                        - - '6680'
                          - '190039'
                        - - '6690'
                          - '363400'
                        - - '6700'
                          - '951868'
                        - - '6710'
                          - '576266'
                        - - '6720'
                          - '1079020'
                      asks:
                        - - '6640'
                          - '2293'
                        - - '6630'
                          - '145704'
                        - - '6620'
                          - '165296'
                        - - '6610'
                          - '706685'
                        - - '6600'
                          - '975262'
                        - - '6590'
                          - '529694'
                        - - '6580'
                          - '238068'
                        - - '6570'
                          - '53338'
                    FTMIRT:
                      lastUpdate: 1651039174650
                      lastTradePrice: '284400'
                      bids:
                        - - '284300'
                          - '300'
                        - - '284400'
                          - '516'
                        - - '284490'
                          - '35'
                        - - '284690'
                          - '109'
                        - - '284700'
                          - '438'
                        - - '284900'
                          - '207'
                        - - '284980'
                          - '761'
                        - - '284990'
                          - '702'
                      asks:
                        - - '283500'
                          - '281'
                        - - '282480'
                          - '25'
                        - - '282470'
                          - '204'
                        - - '282410'
                          - '11'
                        - - '282220'
                          - '60'
                        - - '282110'
                          - '1213'
                        - - '282000'
                          - '113'
                        - - '281190'
                          - '100'
                    MATICIRT:
                      lastUpdate: 1651039174679
                      lastTradePrice: '357560'
                      bids:
                        - - '359390'
                          - '56'
                        - - '359400'
                          - '179'
                        - - '359500'
                          - '29'
                        - - '359840'
                          - '89'
                        - - '359850'
                          - '688'
                        - - '360000'
                          - '6461'
                        - - '360900'
                          - '9'
                        - - '361850'
                          - '350'
                      asks:
                        - - '357600'
                          - '101'
                        - - '357550'
                          - '24'
                        - - '357200'
                          - '78'
                        - - '357140'
                          - '86'
                        - - '357010'
                          - '9'
                        - - '357000'
                          - '200'
                        - - '356460'
                          - '11'
                        - - '356060'
                          - '334'
                    AXSIRT:
                      lastUpdate: 1651039174672
                      lastTradePrice: '11100010'
                      bids:
                        - - '11230960'
                          - '13'
                        - - '11230970'
                          - '3'
                        - - '11235000'
                          - '1'
                        - - '11235930'
                          - '7'
                        - - '11250000'
                          - '8'
                        - - '11299000'
                          - '3'
                        - - '11300000'
                          - '2'
                        - - '11349000'
                          - '1'
                      asks:
                        - - '11100010'
                          - '12'
                        - - '11020000'
                          - '3'
                        - - '11009090'
                          - '1'
                        - - '11000000'
                          - '20'
                        - - '10930030'
                          - '1'
                        - - '10930000'
                          - '23'
                        - - '10900000'
                          - '2'
                        - - '10870000'
                          - '3'
                    MANAIRT:
                      lastUpdate: 1651039174694
                      lastTradePrice: '525200'
                      bids:
                        - - '525990'
                          - '39'
                        - - '526000'
                          - '72'
                        - - '526640'
                          - '56'
                        - - '526750'
                          - '20'
                        - - '526790'
                          - '160'
                        - - '526810'
                          - '69'
                        - - '527000'
                          - '344'
                        - - '527900'
                          - '41'
                      asks:
                        - - '525000'
                          - '1'
                        - - '524000'
                          - '5'
                        - - '521520'
                          - '10'
                        - - '521510'
                          - '981'
                        - - '520000'
                          - '1222'
                        - - '519510'
                          - '9'
                        - - '519500'
                          - '27'
                        - - '519110'
                          - '21'
                    SANDIRT:
                      lastUpdate: 1651039174707
                      lastTradePrice: '720000'
                      bids:
                        - - '719980'
                          - '44'
                        - - '719990'
                          - '56'
                        - - '720000'
                          - '122'
                        - - '722000'
                          - '638'
                        - - '723000'
                          - '134'
                        - - '724970'
                          - '5'
                        - - '724990'
                          - '14'
                        - - '726370'
                          - '6'
                      asks:
                        - - '718010'
                          - '101'
                        - - '718000'
                          - '1681'
                        - - '717700'
                          - '2016'
                        - - '717600'
                          - '1219'
                        - - '715000'
                          - '4222'
                        - - '714500'
                          - '15'
                        - - '712520'
                          - '62'
                        - - '712510'
                          - '51'
                    BTCUSDT:
                      lastUpdate: 1651039174747
                      lastTradePrice: '38431'
                      bids:
                        - - '38565'
                          - '0.000584'
                        - - '38565.98'
                          - '0.000664'
                        - - '38569'
                          - '0.015686'
                        - - '38570'
                          - '0.038174'
                        - - '38571.98'
                          - '0.003331'
                        - - '38571.99'
                          - '0.015296'
                        - - '38572'
                          - '0.019226'
                        - - '38586.94'
                          - '0.000293'
                      asks:
                        - - '38431'
                          - '0.002016'
                        - - '38430'
                          - '0.004'
                        - - '38400'
                          - '0.361667'
                        - - '38380.1'
                          - '0.000506'
                        - - '38375'
                          - '0.010016'
                        - - '38370'
                          - '0.0029'
                        - - '38320'
                          - '0.005'
                        - - '38296.12'
                          - '0.005265'
                    ETHUSDT:
                      lastUpdate: 1651039174744
                      lastTradePrice: '2852'
                      bids:
                        - - '2859'
                          - '1.03735'
                        - - '2860.09'
                          - '0.13049'
                        - - '2862.9'
                          - '0.00497'
                        - - '2863.54'
                          - '0.314'
                        - - '2864.27'
                          - '0.00508'
                        - - '2869.28'
                          - '0.00503'
                        - - '2870'
                          - '0.12161'
                        - - '2871'
                          - '0.1'
                      asks:
                        - - '2850.1'
                          - '0.44641'
                        - - '2845'
                          - '0.051'
                        - - '2844'
                          - '0.53396'
                        - - '2843'
                          - '0.54199'
                        - - '2840'
                          - '0.93575'
                        - - '2838'
                          - '0.01772'
                        - - '2837.2'
                          - '0.3495'
                        - - '2837'
                          - '0.172'
                    LTCUSDT:
                      lastUpdate: 1651039174766
                      lastTradePrice: '100'
                      bids:
                        - - '100.1'
                          - '24.87437'
                        - - '101'
                          - '25.38982'
                        - - '102.9'
                          - '5.05522'
                        - - '103.5'
                          - '0.2978'
                        - - '103.8'
                          - '0.25105'
                        - - '104'
                          - '1.76045'
                        - - '104.2'
                          - '9.987'
                        - - '104.95'
                          - '34.14656'
                      asks:
                        - - '99.23'
                          - '7.89'
                        - - '99'
                          - '0.2108'
                        - - '98.74'
                          - '0.4051'
                        - - '97.53'
                          - '5.95827'
                        - - '96.5'
                          - '0.75'
                        - - '96'
                          - '2.13'
                        - - '95.1'
                          - '1.0965'
                        - - '95'
                          - '3.72628'
                    XRPUSDT:
                      lastUpdate: 1651039174783
                      lastTradePrice: '0.653'
                      bids:
                        - - '0.66699'
                          - '43.5'
                        - - '0.667'
                          - '200'
                        - - '0.6672'
                          - '200'
                        - - '0.6675'
                          - '200'
                        - - '0.668'
                          - '200'
                        - - '0.67'
                          - '171.5'
                        - - '0.678'
                          - '300'
                        - - '0.6799'
                          - '183.9'
                      asks:
                        - - '0.653'
                          - '452.5'
                        - - '0.652'
                          - '2059.4'
                        - - '0.651'
                          - '1659'
                        - - '0.65003'
                          - '11290'
                        - - '0.65002'
                          - '500'
                        - - '0.65'
                          - '150'
                        - - '0.64501'
                          - '121.2'
                        - - '0.645'
                          - '200'
                    BCHUSDT:
                      lastUpdate: 1651039174781
                      lastTradePrice: '305.11'
                      bids:
                        - - '305.1'
                          - '131.11'
                        - - '305.11'
                          - '0.44099'
                        - - '305.7'
                          - '0.58651'
                        - - '307'
                          - '0.07459'
                        - - '318'
                          - '0.78795'
                        - - '319'
                          - '1.00868'
                        - - '321.5'
                          - '1.50231'
                        - - '322'
                          - '0.04'
                      asks:
                        - - '302.3'
                          - '8.18632'
                        - - '301.9'
                          - '5.96'
                        - - '292.2'
                          - '0.04'
                        - - '292.11'
                          - '0.04'
                        - - '292'
                          - '0.45638'
                        - - '291'
                          - '1.01'
                        - - '290'
                          - '1.20028'
                        - - '287'
                          - '1'
                    BNBUSDT:
                      lastUpdate: 1651039174802
                      lastTradePrice: '391'
                      bids:
                        - - '392.2959'
                          - '13.54'
                        - - '392.296'
                          - '2.19'
                        - - '395'
                          - '0.14'
                        - - '399'
                          - '0.19'
                        - - '400'
                          - '1'
                        - - '402.5'
                          - '1'
                        - - '403.99'
                          - '0.16'
                        - - '404'
                          - '0.49'
                      asks:
                        - - '390'
                          - '0.05'
                        - - '389.9512'
                          - '0.27'
                        - - '389.2982'
                          - '0.97'
                        - - '388.874'
                          - '3.28'
                        - - '388.01'
                          - '1.58'
                        - - '388'
                          - '0.5'
                        - - '385'
                          - '0.08'
                        - - '382.01'
                          - '0.45'
                    EOSUSDT:
                      lastUpdate: 1651039174806
                      lastTradePrice: '2.2415'
                      bids:
                        - - '2.2529'
                          - '1032.1'
                        - - '2.3'
                          - '12'
                        - - '2.32'
                          - '4.8'
                        - - '2.34'
                          - '27.22'
                        - - '2.38'
                          - '141.76'
                        - - '2.39'
                          - '7'
                        - - '2.42'
                          - '9.8'
                        - - '2.429'
                          - '34.89'
                      asks:
                        - - '2.2353'
                          - '266'
                        - - '2.2202'
                          - '10.75'
                        - - '2.22'
                          - '65.31'
                        - - '2.1909'
                          - '5.06'
                        - - '2.19'
                          - '5.06'
                        - - '2.1858'
                          - '5.06'
                        - - '2.1848'
                          - '5.05'
                        - - '2.1818'
                          - '5.06'
                    XLMUSDT:
                      lastUpdate: 1651039174821
                      lastTradePrice: '0.18364'
                      bids:
                        - - '0.18439'
                          - '3207'
                        - - '0.191'
                          - '62'
                        - - '0.1915'
                          - '904.6'
                        - - '0.19262'
                          - '2138.9'
                        - - '0.1939'
                          - '130.5'
                        - - '0.194'
                          - '164'
                        - - '0.195'
                          - '56.5'
                        - - '0.196'
                          - '1688'
                      asks:
                        - - '0.1827'
                          - '13548.7'
                        - - '0.18261'
                          - '746'
                        - - '0.17643'
                          - '726.7'
                        - - '0.1764'
                          - '113.3'
                        - - '0.176'
                          - '111'
                        - - '0.1753'
                          - '1360'
                        - - '0.1735'
                          - '290'
                        - - '0.1725'
                          - '63.8'
                    ETCUSDT:
                      lastUpdate: 1651039174829
                      lastTradePrice: '31.1'
                      bids:
                        - - '31.1'
                          - '5.71'
                        - - '31.16'
                          - '18'
                        - - '31.44'
                          - '4.02'
                        - - '31.674'
                          - '0.92'
                        - - '32.8999'
                          - '6.43'
                        - - '32.996'
                          - '2'
                        - - '33'
                          - '0.36'
                        - - '33.438'
                          - '1.8'
                      asks:
                        - - '30.829'
                          - '19.29'
                        - - '30.82'
                          - '4.95'
                        - - '30.8'
                          - '29.21'
                        - - '30.7271'
                          - '123.19'
                        - - '30.727'
                          - '0.94'
                        - - '30.687'
                          - '0.02'
                        - - '30.582'
                          - '2.36'
                        - - '30.3'
                          - '1.01'
                    TRXUSDT:
                      lastUpdate: 1651039174840
                      lastTradePrice: '0.06279'
                      bids:
                        - - '0.06279'
                          - '36207.4'
                        - - '0.06289'
                          - '28844.3'
                        - - '0.06296'
                          - '5662'
                        - - '0.06326'
                          - '7954.1'
                        - - '0.06345'
                          - '0.6'
                        - - '0.06398'
                          - '3600'
                        - - '0.0645'
                          - '852.4'
                        - - '0.06498'
                          - '1500'
                      asks:
                        - - '0.06269'
                          - '560.1'
                        - - '0.0626'
                          - '237.6'
                        - - '0.0625'
                          - '1253.5'
                        - - '0.06241'
                          - '12550'
                        - - '0.06239'
                          - '4283.7'
                        - - '0.0619'
                          - '1659.1'
                        - - '0.06166'
                          - '6108.2'
                        - - '0.0616'
                          - '750'
                    PMNUSDT:
                      lastUpdate: 1651039174842
                      lastTradePrice: '0.06761'
                      bids:
                        - - '0.06811'
                          - '161.1'
                        - - '0.06838'
                          - '161.2'
                        - - '0.06839'
                          - '165'
                        - - '0.0684'
                          - '2196.7'
                        - - '0.0686'
                          - '2786.7'
                        - - '0.06866'
                          - '160'
                        - - '0.06867'
                          - '170'
                        - - '0.06889'
                          - '486.7'
                      asks:
                        - - '0.06711'
                          - '360.8'
                        - - '0.06708'
                          - '223.6'
                        - - '0.06707'
                          - '298.1'
                        - - '0.067'
                          - '579.6'
                        - - '0.0669'
                          - '164.5'
                        - - '0.0667'
                          - '1000'
                        - - '0.0662'
                          - '166.2'
                        - - '0.0661'
                          - '5773.5'
                    DOGEUSDT:
                      lastUpdate: 1651039174886
                      lastTradePrice: '0.1407602'
                      bids:
                        - - '0.14169'
                          - '2730'
                        - - '0.1438848'
                          - '834'
                        - - '0.1438852'
                          - '382'
                        - - '0.144'
                          - '11706'
                        - - '0.1443'
                          - '573'
                        - - '0.1449'
                          - '5000'
                        - - '0.1449398'
                          - '9232'
                        - - '0.1449399'
                          - '1100'
                      asks:
                        - - '0.1407602'
                          - '1788'
                        - - '0.1406202'
                          - '1462'
                        - - '0.14045'
                          - '1784'
                        - - '0.14022'
                          - '10536'
                        - - '0.1400001'
                          - '41493'
                        - - '0.14'
                          - '1955'
                        - - '0.13954'
                          - '338'
                        - - '0.1395'
                          - '350'
                    UNIUSDT:
                      lastUpdate: 1651039174866
                      lastTradePrice: '8.112'
                      bids:
                        - - '8.279'
                          - '93.59'
                        - - '8.28'
                          - '3.155'
                        - - '8.349'
                          - '46.038'
                        - - '8.35'
                          - '23.031'
                        - - '8.398'
                          - '6.831'
                        - - '8.57'
                          - '9.964'
                        - - '8.59'
                          - '55.543'
                        - - '8.7'
                          - '6.664'
                      asks:
                        - - '8.113'
                          - '9.82'
                        - - '8.1'
                          - '3.569'
                        - - '8.011'
                          - '2.01'
                        - - '7.903'
                          - '55.748'
                        - - '7.901'
                          - '8.928'
                        - - '7.85'
                          - '2.5'
                        - - '7.824'
                          - '2.1'
                        - - '7.8'
                          - '4.487'
                    DAIUSDT:
                      lastUpdate: 1651039174878
                      lastTradePrice: '0.9953'
                      bids:
                        - - '1.0003'
                          - '171.19'
                        - - '1.0004'
                          - '21806.5'
                        - - '1.0005'
                          - '28018.22'
                        - - '1.001'
                          - '50000'
                        - - '1.002'
                          - '200'
                        - - '1.0028'
                          - '168.15'
                        - - '1.003'
                          - '499.35'
                        - - '1.0034'
                          - '415.64'
                      asks:
                        - - '0.9953'
                          - '34.23'
                        - - '0.9951'
                          - '158.13'
                        - - '0.995'
                          - '50000'
                        - - '0.9901'
                          - '50.09'
                        - - '0.9832'
                          - '50.08'
                        - - '0.983'
                          - '201'
                        - - '0.976'
                          - '33.51'
                        - - '0.956'
                          - '231.49'
                    LINKUSDT:
                      lastUpdate: 1651039174901
                      lastTradePrice: '12.62'
                      bids:
                        - - '12.7'
                          - '22.783'
                        - - '12.8'
                          - '50'
                        - - '12.9'
                          - '20'
                        - - '12.978'
                          - '47'
                        - - '12.979'
                          - '23.372'
                        - - '13'
                          - '2.5'
                        - - '13.199'
                          - '1.18'
                        - - '13.2'
                          - '3.1'
                      asks:
                        - - '12.53'
                          - '0.902'
                        - - '12.47'
                          - '71.718'
                        - - '12.4'
                          - '7.223'
                        - - '12.253'
                          - '2'
                        - - '12.251'
                          - '75.485'
                        - - '12.25'
                          - '6.088'
                        - - '12.2'
                          - '32.193'
                        - - '12.12'
                          - '5.078'
                    DOTUSDT:
                      lastUpdate: 1651039174914
                      lastTradePrice: '17'
                      bids:
                        - - '17.02'
                          - '45'
                        - - '17.05'
                          - '0.3'
                        - - '17.1'
                          - '4.2'
                        - - '17.2'
                          - '1'
                        - - '17.25'
                          - '1.2'
                        - - '17.252'
                          - '0.5'
                        - - '17.259'
                          - '3.8'
                        - - '17.29'
                          - '1.4'
                      asks:
                        - - '16.95'
                          - '4.9'
                        - - '16.94'
                          - '2.5'
                        - - '16.93'
                          - '7.3'
                        - - '16.91'
                          - '10'
                        - - '16.903'
                          - '13.4'
                        - - '16.901'
                          - '3.2'
                        - - '16.89'
                          - '9.8'
                        - - '16.85'
                          - '4.3'
                    AAVEUSDT:
                      lastUpdate: 1651039174927
                      lastTradePrice: '167.99'
                      bids:
                        - - '167'
                          - '14.9186'
                        - - '167.99'
                          - '0.6841'
                        - - '168'
                          - '11.3001'
                        - - '170'
                          - '24.1751'
                        - - '173'
                          - '1.5629'
                        - - '174.4'
                          - '2.6227'
                        - - '174.5'
                          - '3.1025'
                        - - '174.98'
                          - '5'
                      asks:
                        - - '165.8'
                          - '4.1991'
                        - - '165.15'
                          - '1.7806'
                        - - '162.31'
                          - '0.8928'
                        - - '161'
                          - '0.3105'
                        - - '158.21'
                          - '0.171'
                        - - '158'
                          - '1.0633'
                        - - '157.1'
                          - '0.0003'
                        - - '157'
                          - '0.2399'
                    ADAUSDT:
                      lastUpdate: 1651039174952
                      lastTradePrice: '0.843'
                      bids:
                        - - '0.841'
                          - '2323.3'
                        - - '0.85'
                          - '115'
                        - - '0.856'
                          - '250'
                        - - '0.859'
                          - '821.5'
                        - - '0.861'
                          - '519.5'
                        - - '0.87'
                          - '63.1'
                        - - '0.874'
                          - '50'
                        - - '0.875'
                          - '222.1'
                      asks:
                        - - '0.836'
                          - '60'
                        - - '0.833'
                          - '741'
                        - - '0.832'
                          - '58.3'
                        - - '0.831'
                          - '7759.9'
                        - - '0.83'
                          - '1890'
                        - - '0.829'
                          - '306.7'
                        - - '0.828'
                          - '300'
                        - - '0.827'
                          - '6354'
                    SHIBUSDT:
                      lastUpdate: 1651039174957
                      lastTradePrice: '0.02351'
                      bids:
                        - - '0.0235'
                          - '1923'
                        - - '0.02351'
                          - '15957'
                        - - '0.02356'
                          - '1417'
                        - - '0.02394'
                          - '2730'
                        - - '0.02395'
                          - '8283'
                        - - '0.024'
                          - '4810'
                        - - '0.02408'
                          - '1381'
                        - - '0.02409'
                          - '1000'
                      asks:
                        - - '0.02339'
                          - '31007'
                        - - '0.02332'
                          - '5000'
                        - - '0.02331'
                          - '19192'
                        - - '0.02329'
                          - '5000'
                        - - '0.02328'
                          - '96410'
                        - - '0.0232'
                          - '57904'
                        - - '0.0231'
                          - '23093'
                        - - '0.023'
                          - '16188'
                    FTMUSDT:
                      lastUpdate: 1651039174972
                      lastTradePrice: '1.004'
                      bids:
                        - - '1.006'
                          - '140'
                        - - '1.01'
                          - '117'
                        - - '1.02'
                          - '329'
                        - - '1.03'
                          - '16'
                        - - '1.036'
                          - '21'
                        - - '1.04'
                          - '21'
                        - - '1.045'
                          - '107'
                        - - '1.047'
                          - '9570'
                      asks:
                        - - '0.998'
                          - '1430'
                        - - '0.997'
                          - '15'
                        - - '0.988'
                          - '12'
                        - - '0.987'
                          - '27'
                        - - '0.986'
                          - '20'
                        - - '0.981'
                          - '13'
                        - - '0.98'
                          - '2829'
                        - - '0.971'
                          - '258'
                    MATICUSDT:
                      lastUpdate: 1651039174975
                      lastTradePrice: '1.27'
                      bids:
                        - - '1.286'
                          - '38'
                        - - '1.287'
                          - '199'
                        - - '1.288'
                          - '57'
                        - - '1.29'
                          - '623'
                        - - '1.3'
                          - '298'
                        - - '1.329'
                          - '759'
                        - - '1.33'
                          - '337'
                        - - '1.332'
                          - '330'
                      asks:
                        - - '1.253'
                          - '37'
                        - - '1.252'
                          - '135'
                        - - '1.24'
                          - '186'
                        - - '1.23'
                          - '80'
                        - - '1.22'
                          - '49'
                        - - '1.215'
                          - '889'
                        - - '1.21'
                          - '371'
                        - - '1.2'
                          - '462'
                    AXSUSDT:
                      lastUpdate: 1651039174988
                      lastTradePrice: '41'
                      bids:
                        - - '40.99'
                          - '1'
                        - - '41'
                          - '7'
                        - - '41.86'
                          - '1'
                        - - '41.88'
                          - '1'
                        - - '41.9'
                          - '34'
                        - - '42'
                          - '31'
                        - - '42.13'
                          - '1'
                        - - '42.35'
                          - '1'
                      asks:
                        - - '38.3'
                          - '2'
                        - - '38.28'
                          - '4'
                        - - '38.1'
                          - '3'
                        - - '38'
                          - '2'
                        - - '37.9'
                          - '1'
                        - - '37.8'
                          - '3'
                        - - '37.6'
                          - '1'
                        - - '37.43'
                          - '1'
                    MANAUSDT:
                      lastUpdate: 1651039174989
                      lastTradePrice: '1.83'
                      bids:
                        - - '1.9'
                          - '96'
                        - - '1.908'
                          - '33'
                        - - '1.92'
                          - '28'
                        - - '1.93'
                          - '34'
                        - - '1.94'
                          - '36'
                        - - '1.95'
                          - '10'
                        - - '1.98'
                          - '30'
                        - - '2'
                          - '54'
                      asks:
                        - - '1.8301'
                          - '23'
                        - - '1.83'
                          - '23'
                        - - '1.8109'
                          - '71'
                        - - '1.8101'
                          - '134'
                        - - '1.81'
                          - '23'
                        - - '1.8'
                          - '1'
                        - - '1.79'
                          - '7'
                        - - '1.782'
                          - '7'
                    SANDUSDT:
                      lastUpdate: 1651039175006
                      lastTradePrice: '2.5056'
                      bids:
                        - - '2.62'
                          - '55'
                        - - '2.6249'
                          - '114'
                        - - '2.6297'
                          - '100'
                        - - '2.6298'
                          - '100'
                        - - '2.6299'
                          - '15'
                        - - '2.63'
                          - '139'
                        - - '2.645'
                          - '55'
                        - - '2.648'
                          - '14'
                      asks:
                        - - '2.5059'
                          - '11'
                        - - '2.5056'
                          - '25'
                        - - '2.4663'
                          - '22'
                        - - '2.4655'
                          - '40'
                        - - '2.46'
                          - '13'
                        - - '2.451'
                          - '82'
                        - - '2.45'
                          - '61'
                        - - '2.425'
                          - '28'
  /v2/trades/{symbol}:
    get:
      tags:
        - Public Market Data
      summary: Trades
      description: >-
        ## لیست معاملات


        برای دریافت لیست معاملات انجام شده در بازار از این نوع درخواست استفاده
        نمایید:


        لیست نمادهای بازارها عبارتند از :  

        {{symbols}}


        محدودیت فراخوانی: ۱۵ درخواست در دقیقه
      parameters:
        - name: symbol
          in: path
          schema:
            type: string
          required: true
          description: |-
            نماد بازار

            الزامی
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: ok
                trades:
                  - time: 1651042101700
                    price: '10888002000'
                    volume: '0.007654'
                    type: sell
                  - time: 1651042101700
                    price: '10888003000'
                    volume: '0.008938'
                    type: sell
                  - time: 1651042101700
                    price: '10890102000'
                    volume: '0.004589'
                    type: sell
                  - time: 1651042101700
                    price: '10890910200'
                    volume: '0.024127'
                    type: sell
                  - time: 1651042101700
                    price: '10900000000'
                    volume: '0.000713'
                    type: sell
                  - time: 1651042086746
                    price: '10900000000'
                    volume: '0.001118'
                    type: sell
                  - time: 1651042081143
                    price: '10900000000'
                    volume: '0.000831'
                    type: sell
                  - time: 1651042061609
                    price: '10900000000'
                    volume: '0.003125'
                    type: buy
                  - time: 1651042043613
                    price: '10900000000'
                    volume: '0.003275'
                    type: buy
                  - time: 1651042035386
                    price: '10890102000'
                    volume: '0.022779'
                    type: sell
                  - time: 1651042035386
                    price: '10890190200'
                    volume: '0.023509'
                    type: sell
                  - time: 1651042006996
                    price: '10890000000'
                    volume: '0.001092'
                    type: sell
                  - time: 1651041968037
                    price: '10929999890'
                    volume: '0.004603'
                    type: buy
                  - time: 1651041951903
                    price: '10888090300'
                    volume: '0.00023'
                    type: sell
                  - time: 1651041943295
                    price: '10888090300'
                    volume: '0.003'
                    type: sell
                  - time: 1651041933501
                    price: '10929999890'
                    volume: '0.004579'
                    type: buy
                  - time: 1651041933501
                    price: '10929999850'
                    volume: '0.005'
                    type: buy
                  - time: 1651041933501
                    price: '10925077000'
                    volume: '0.005754'
                    type: buy
                  - time: 1651041933501
                    price: '10920000000'
                    volume: '0.004594'
                    type: buy
                  - time: 1651041933501
                    price: '10920000000'
                    volume: '0.001137'
                    type: buy
  /market/stats:
    post:
      tags:
        - Public Market Data
      summary: Stats
      description: >-
        ## وضعیت بازار نوبیتکس


        برای دریافت آخرین آمار بازار نوبیتکس (شامل بهترین قیمت خرید و فروش در
        لحظه، بالاترین و پایین‌ترین قیمت در ۲۴ ساعت گذشته، حجم بازار و ...) از
        این نوع درخواست استفاده نمایید:


        انواع ارز:  

        {{currencies}}


        محدودیت فراخوانی: ۱۰۰ درخواست در ۱۰ دقیقه
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                srcCurrency:
                  type: string
                  description: |-
                    ارزهای مبدا

                    اجباری
                dstCurrency:
                  type: string
                  description: |-
                    ارزهای مقصد

                    اجباری
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: آمار یک بازار
                  value:
                    status: ok
                    stats:
                      btc-rls:
                        isClosed: false
                        bestSell: '10929991000'
                        bestBuy: '10920004000'
                        volumeSrc: '12.4173336381'
                        volumeDst: '135822818082.38868800606'
                        latest: '10920000000'
                        dayLow: '10711009990'
                        dayHigh: '11259995990'
                        dayOpen: '11202888880'
                        dayClose: '10920000000'
                        dayChange: '-2.53'
                example-1:
                  summary: آمار چند بازار
                  value:
                    status: ok
                    stats:
                      btc-rls:
                        isClosed: false
                        bestSell: '10929000000'
                        bestBuy: '10920007000'
                        volumeSrc: '12.4256770689'
                        volumeDst: '135913991617.03419780606'
                        latest: '10929000000'
                        dayLow: '10711009990'
                        dayHigh: '11259995990'
                        dayOpen: '11202888880'
                        dayClose: '10929000000'
                        dayChange: '-2.44'
                      btc-usdt:
                        isClosed: false
                        bestSell: '38689.55'
                        bestBuy: '38624.06'
                        volumeSrc: '2.7951087926'
                        volumeDst: '108550.22352836928'
                        latest: '38622.16'
                        dayLow: '37906.1'
                        dayHigh: '40602'
                        dayOpen: '40544.97'
                        dayClose: '38622.16'
                        dayChange: '-4.74'
                      eth-rls:
                        isClosed: false
                        bestSell: '813000000'
                        bestBuy: '812000000'
                        volumeSrc: '142.96589305502'
                        volumeDst: '115885458739.67050321058'
                        latest: '813250000'
                        dayLow: '790000090'
                        dayHigh: '836478990'
                        dayOpen: '829910000'
                        dayClose: '813250000'
                        dayChange: '-2.01'
                      eth-usdt:
                        isClosed: false
                        bestSell: '2874.31'
                        bestBuy: '2866'
                        volumeSrc: '18.29364724944'
                        volumeDst: '52715.58668782208'
                        latest: '2874.31'
                        dayLow: '2788'
                        dayHigh: '3011'
                        dayOpen: '2998.6'
                        dayClose: '2874.31'
                        dayChange: '-4.14'
                example-2:
                  summary: آمار بازار بسته
                  value:
                    status: ok
                    stats:
                      iota-rls:
                        isClosed: true
                        isClosedReason: NoData
                      iota-usdt:
                        isClosed: true
                        isClosedReason: NoData
  /market/udf/history:
    get:
      tags:
        - Public Market Data
      summary: OHLC
      description: |-
        ## آمار OHLC بازار نوبیتکس

        نوبیتکس از این نوع درخواست استفاده نمایید OHLCبرای دریافت آمار  
        بازه زمانی کندل‌های خروجی می‌تواند یکی از مقادیر زیر باشد:

        *   یک ساعت :60
        *   یک روز :D
            

        ###### مقادیر پاسخ

        *   t (time): زمان شروع بازه
        *   o (open): قیمت شروع بازه
        *   c (close): قیمت پایان بازه
        *   l (low): پایین‌ترین قیمت بازه
        *   h(high): بالاترین قیمت بازه
        *   v (volume): حجم بازه
            

        که برای هر کندل در بازه زمانی گزارش یک عدد در لیست قرار می‌گیرد.
      parameters:
        - name: symbol
          in: query
          schema:
            type: string
          description: |-
            نماد بازار

            اجباری
        - name: resolution
          in: query
          schema:
            type: string
          description: "بازه زمانی هر کندل\t\n\nاجباری"
        - name: from
          in: query
          schema:
            type: string
          description: "شروع گزارش\n(زمان یونیکس)\t\n\nاجباری"
        - name: to
          in: query
          schema:
            type: string
          description: "پایان گزارش\n(زمان یونیکس)\t\n\nاجباری"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: OHLC روزانه
                  value:
                    s: ok
                    t:
                      - 1562009400
                      - 1562095800
                      - 1562182200
                    c:
                      - 145000000
                      - 151440200
                      - 157000000
                    o:
                      - 137051600
                      - 146272500
                      - 150551000
                    h:
                      - 145000000
                      - 155869600
                      - 161869500
                    l:
                      - 129762200
                      - 140062400
                      - 150551000
                    v:
                      - 24.3008747521
                      - 18.221362316000008
                      - 9.859262650600003
                example-1:
                  summary: OHLC ساعتی
                  value:
                    s: ok
                    t:
                      - 1562211000
                      - 1562214600
                      - 1562218200
                      - 1562221800
                      - 1562225400
                      - 1562229000
                    c:
                      - 159800000
                      - 155908800
                      - 156112100
                      - 158400000
                      - 156936000
                      - 155702700
                    o:
                      - 160650000
                      - 158000000
                      - 155517200
                      - 156311900
                      - 157398800
                      - 156300000
                    h:
                      - 160650000
                      - 158000000
                      - 156300000
                      - 158745900
                      - 157398800
                      - 157000000
                    l:
                      - 158367000
                      - 155178900
                      - 155099900
                      - 156311900
                      - 156000000
                      - 155683800
                    v:
                      - 0.9204551166
                      - 0.076577685
                      - 1.0735933201
                      - 1.0361861069
                      - 0.5288416375
                      - 0.2965445354
                example-2:
                  summary: OHLC با بازه اشتباه
                  value:
                    s: ok
                    t:
                      - 1562211000
                      - 1562214600
                      - 1562218200
                      - 1562221800
                      - 1562225400
                      - 1562229000
                    c:
                      - 159800000
                      - 155908800
                      - 156112100
                      - 158400000
                      - 156936000
                      - 155702700
                    o:
                      - 160650000
                      - 158000000
                      - 155517200
                      - 156311900
                      - 157398800
                      - 156300000
                    h:
                      - 160650000
                      - 158000000
                      - 156300000
                      - 158745900
                      - 157398800
                      - 157000000
                    l:
                      - 158367000
                      - 155178900
                      - 155099900
                      - 156311900
                      - 156000000
                      - 155683800
                    v:
                      - 0.9204551166
                      - 0.076577685
                      - 1.0735933201
                      - 1.0361861069
                      - 0.5288416375
                      - 0.2965445354
  /market/global-stats:
    post:
      tags:
        - Public Market Data
      summary: Global stats
      description: >-
        ## آمار بازار جهانی


        برای دریافت آمار بازارهای جهانی (Kraken و Binance) از این نوع درخواست
        استفاده نمایید:


        محدودیت فراخوانی : ۱۰۰ درخواست در ۱۰ دقیقه
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: ok
                markets:
                  binance:
                    mkr: 1658
                    srm: 2.148
                    keep: 0.6018
                    c98: 1.3035
                    sfp: 0.7201
                    1000xec: 0.08125
                    xem: 0.0915
                    zen: 33.167
                    eth: 2877.54
                    mtl: 2.6338
                    bat: 0.6681
                    enj: 1.3059
                    rsr: 0.01133
                    omg: 4.208
                    ata: 0.3353
                    iost: 0.02764
                    doge: 0.14231
                    algo: 0.6665
                    ankr: 0.07286
                    chz: 0.20191
                    zrx: 0.8438
                    avax: 70.02
                    sc: 0.0095
                    bzrx: 0.2301
                    tomo: 1.2348
                    ar: 27.878
                    celo: 2.763
                    sxp: 1.1151
                    ocean: 0.48701
                    dot: 17.016
                    unfi: 4.497
                    alpha: 0.3297
                    one: 0.10296
                    bts: 0.02101
                    egld: 150.69
                    ren: 0.3459
                    kava: 5.0433
                    neo: 18.957
                    bch: 304.41
                    cvc: 0.27601
                    sushi: 2.977
                    sol: 99.02
                    nkn: 0.187
                    fil: 17.715
                    aave: 170.94
                    hot: 0.00444
                    gtc: 5.45
                    gala: 0.17037
                    vet: 0.05216
                    bel: 0.7763
                    yfii: 1869.9
                    snx: 5.717
                    bake: 0.6979
                    stmx: 0.017
                    reef: 0.0084
                    ogn: 0.5377
                    luna: 88.968
                    rlc: 1.8039
                    xtz: 2.801
                    eos: 2.249
                    coti: 0.21613
                    storj: 0.9816
                    hnt: 16.507
                    arpa: 0.062
                    dash: 95.2
                    mana: 1.8473
                    celr: 0.04314
                    grt: 0.34763
                    1inch: 1.3226
                    defi: 1787.6
                    ksm: 158.1
                    lina: 0.02346
                    atom: 20.971
                    chr: 0.3819
                    iotx: 0.06979
                    xmr: 232.51
                    ftm: 0.9985
                    iota: 0.6139
                    btcdom: 1224.4
                    ctk: 1.139
                    uni: 8.248
                    trx: 0.06293
                    ont: 0.5023
                    crv: 2.517
                    knc: 5.423
                    rvn: 0.04904
                    theta: 2.795
                    icx: 0.7323
                    skl: 0.16249
                    klay: 0.8403
                    waves: 15.414
                    tlm: 0.0881
                    ada: 0.8409
                    alice: 5.994
                    mask: 3.994
                    lrc: 0.8542
                    near: 13.032
                    audio: 1.105
                    nu: 0.5265
                    ctsi: 0.3069
                    btt: 0.00262
                    matic: 1.2637
                    akro: 0.01009
                    bal: 14.842
                    zil: 0.0948
                    dgb: 0.02201
                    xlm: 0.18467
                    dent: 0.00237
                    qtum: 6.14
                    ltc: 100.33
                    flm: 0.1757
                    rune: 7.888
                    zec: 148.38
                    shib: 0.02353
                    axs: 39.48
                    band: 3.4528
                    etc: 31.229
                    trb: 17.93
                    comp: 124.63
                    icp: 15.36
                    link: 12.572
                    hbar: 0.17177
                    xrp: 0.6508
                    dodo: 0.359
                    ray: 2.468
                    dydx: 4.181
                    yfi: 17722
                    btc: 38898.8
                    lit: 1.248
                    sand: 2.5269
                    blz: 0.13884
                    bnb: 390.8
                    usdt: 1
                    lpt: 24.568
                    ens: 16.991
                    people: 0.04494
                    ant: 3.848
                    rose: 0.22633
                    dusk: 0.28846
                    1000bttc: 0.00192
                    flow: 5.25
                    imx: 1.6983
                    api3: 3.987
                    anc: 1.902
                    gmt: 3.3554
                    ape: 18.878
                    bnx: 103.58
                    woo: 0.42432
                    ftt: 39.312
                    jasmy: 0.02113
                btc:
                  kraken:
                    price: '38927.60'
                eth:
                  kraken:
                    price: '2878.48'
                ltc:
                  kraken:
                    price: '100.41'
                usdt:
                  kraken:
                    price: '1.00'
                xrp:
                  kraken:
                    price: '0.65400'
                bch:
                  kraken:
                    price: '304.20'
                bnb:
                  kraken:
                    price: '390.6800'
                eos:
                  kraken:
                    price: '2.2500'
                xlm:
                  kraken:
                    price: '0.18610'
                etc:
                  kraken:
                    price: '31.2300'
                trx:
                  kraken:
                    price: '0.06295'
                pmn:
                  kraken:
                    price: null
                doge:
                  kraken:
                    price: '0.1410000'
                uni:
                  kraken:
                    price: '8.244'
                dai:
                  kraken:
                    price: '0.9999'
                link:
                  kraken:
                    price: '12.580'
                dot:
                  kraken:
                    price: '17.020'
                aave:
                  kraken:
                    price: '170.72'
                ada:
                  kraken:
                    price: '0.841'
                shib:
                  kraken:
                    price: '0.00002'
                ftm:
                  kraken:
                    price: null
                matic:
                  kraken:
                    price: '1.282'
                axs:
                  kraken:
                    price: '39.48'
                mana:
                  kraken:
                    price: '1.8490'
                sand:
                  kraken:
                    price: '2.5220'
                sol:
                  kraken:
                    price: '99.050'
  /v2/options:
    get:
      tags:
        - Public Market Data
      summary: Market options
      description: >-
        ## تنظیمات سیستم


        مواردی مانند رمزارزهای فعال، حداقل معامله در هر بازار، پله‌های کارمزد،
        سقف برداشت و بسیاری اطلاعات مفید دیگر از این طریق در دسترس شما قرار
        خواهد داشت.


        محدودیت فراخوانی: ۱ درخواست در دقیقه با امکان burst
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: ok
                coins:
                  - coin: rls
                    name: Rial
                    defaultNetwork: FIAT_MONEY
                    displayPrecision: '10'
                    networkList:
                      FIATMONEY:
                        addressRegex: ''
                        coin: rls
                        depositEnable: true
                        isDefault: true
                        minConfirm: 0
                        name: FIAT
                        network: FIAT_MONEY
                        withdrawEnable: true
                        withdrawFee: '4_000_0.00000000'
                        withdrawIntegerMultiple: '0.10000000'
                        withdrawMax: '500_000_000_0.00000000'
                        withdrawMin: '15_000_0.00000000'
                    stdName: ﷼
                  - coin: aave
                    name: Aave
                    defaultNetwork: ETH
                    displayPrecision: '0.0001'
                    networkList:
                      ETH:
                        addressRegex: ^0x[0-9A-Fa-f]{40}$
                        coin: aave
                        depositEnable: true
                        isDefault: true
                        minConfirm: 12
                        name: ERC20
                        network: ETH
                        withdrawEnable: true
                        withdrawIntegerMultiple: '0.00000001'
                        withdrawFee: '0.4'
                        withdrawMax: '10000000000.00000000'
                        withdrawMin: '0.30000000'
                      BSC:
                        addressRegex: ^(0x)[0-9A-Fa-f]{40}$
                        coin: aave
                        depositEnable: true
                        minConfirm: 15
                        name: BEP20 (BSC)
                        network: BSC
                        withdrawEnable: true
                        withdrawIntegerMultiple: '0.00000001'
                        withdrawFee: '0.005'
                        withdrawMax: '100000.00000000'
                        withdrawMin: '0.10000000'
                  - coin: ada
                    name: Cardano
                    defaultNetwork: ADA
                    displayPrecision: '0.1'
                    networkList:
                      ADA:
                        addressRegex: >-
                          ^(([0-9A-Za-z]{57,59})|([0-9A-Za-z]{100,104})|(addr1)[0-9A-Za-z]{53,98})$
                        depositEnable: true
                        isDefault: true
                        minConfirm: 15
                        name: Cardano
                        network: ADA
                        withdrawEnable: true
                        withdrawIntegerMultiple: '0.00000100'
                        withdrawFee: '1.00000000'
                        withdrawMax: '999998.00000000'
                        withdrawMin: '10.00000000'
                      BSC:
                        addressRegex: ^(0x)[0-9A-Fa-f]{40}$
                        minConfirm: 15
                        name: BEP20 (BSC)
                        network: BSC
                        withdrawFee: '1'
                        withdrawMax: '1000000'
                        withdrawMin: '2'
                  - coin: bch
                    name: Bitcoin Cash
                    defaultNetwork: BCH
                    displayPrecision: '0.00001'
                    networkList:
                      BCH:
                        addressRegex: ^[13][a-km-zA-HJ-NP-Z1-9]{25,34}$|^[0-9A-Za-z]{42,42}$
                        depositEnable: true
                        isDefault: true
                        minConfirm: 2
                        name: BCH
                        network: BCH
                        withdrawEnable: true
                        withdrawIntegerMultiple: '0.00000001'
                        withdrawFee: '0.00100000'
                        withdrawMax: '150.00000000'
                        withdrawMin: '0.01000000'
                        depositInfo:
                          standard:
                            depositMin: '0.00050000'
                      BSC:
                        addressRegex: ^(0x)[0-9A-Fa-f]{40}$
                        minConfirm: 15
                        name: BEP20 (BSC)
                        network: BSC
                        withdrawFee: '0.003'
                        withdrawMax: '1000000'
                        withdrawMin: '0.005'
                    stdName: BitcoinCash
                  - coin: bnb
                    name: BNB
                    defaultNetwork: BNB
                    displayPrecision: '0.01'
                    networkList:
                      BNB:
                        addressRegex: ^(bnb1)[0-9a-z]{38}$
                        coin: bnb
                        depositEnable: true
                        isDefault: true
                        memoRegex: ^[0-9A-Za-z\-_]{1,120}$
                        memoRequired: true
                        minConfirm: 0
                        name: BEP2 (BC)
                        network: BNB
                        withdrawEnable: true
                        withdrawIntegerMultiple: '0.00000001'
                        withdrawFee: '0.00100000'
                        withdrawMax: '100000.00000000'
                        withdrawMin: '0.02000000'
                      BSC:
                        addressRegex: ^(0x)[0-9A-Fa-f]{40}$
                        coin: bnb
                        depositEnable: true
                        minConfirm: 15
                        name: BEP20 (BSC)
                        network: BSC
                        withdrawEnable: true
                        withdrawIntegerMultiple: '0.00000001'
                        withdrawFee: '0.001'
                        withdrawMax: '100000.00000000'
                        withdrawMin: '0.002'
                    stdName: BinanceCoin
                  - coin: btc
                    name: Bitcoin
                    defaultNetwork: BTC
                    displayPrecision: '0.000001'
                    networkList:
                      BTC:
                        addressRegex: >-
                          ^[13][a-km-zA-HJ-NP-Z1-9]{25,34}$|^(bc1)[0-9A-Za-z]{39,59}$
                        coin: btc
                        depositEnable: true
                        isDefault: true
                        minConfirm: 2
                        name: BTC
                        network: BTC
                        withdrawEnable: true
                        withdrawIntegerMultiple: '0.00000001'
                        withdrawFee: '0.000350000'
                        withdrawMax: '100.00000000'
                        withdrawMin: '0.00100000'
[...]
